<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="bg-white rounded-lg shadow-lg max-w-3xl w-full max-h-screen overflow-auto mt-8 p-6">
    <h2 class="text-xl font-medium mb-4">{{ updateModeData ? 'Edit Quiz Question' : 'Create new question' }}</h2>
    <form [formGroup]="quizForm" (ngSubmit)="onSubmitQuiz()">
      <div class="mb-4">
        <label for="question" class="mb-2 text-sm font-medium">Question :</label>
        <input
          type="text"
          id="question"
          formControlName="question"
          class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:shadow-outline"
        />
        <div *ngIf="quizForm.get('question')?.invalid && quizForm.get('question')?.touched" class="text-red-500 text-sm mt-1">
          Question title is required.
        </div>
      </div>

      <div class="mb-4">
        <label for="category" class="text-sm mb-2 font-medium">Category:</label>
        <select
          id="category"
          formControlName="categoryId"
          class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:shadow-outline"
        >
          <option value="" disabled>Select category</option>
          <option *ngFor="let category of categories$ | async" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
        <div *ngIf="quizForm.get('categoryId')?.invalid && quizForm.get('categoryId')?.touched" class="text-red-500 text-sm mt-1">
          Category is required.
        </div>
      </div>

      <div>
        <label class="text-sm font-medium mb-4">Variants</label>
        <div formArrayName="variants">
          <div *ngFor="let variant of variants.controls; let i = index" [formGroupName]="i" class="mb-4">
            <div class="flex items-center mb-2">
              <label class="text-lg font-medium pr-1">{{ variant.get('letter')?.value }}</label>
              <input
                type="checkbox"
                formControlName="correct"
                class="mx-2 h-6 w-6 text-blue-500 focus:ring-blue-400 border-gray-300 rounded"
              />
              <input
                type="text"
                formControlName="variant"
                class="w-full px-3 py-2 text-lg text-gray-700 border rounded-lg focus:outline-none focus:shadow-outline"
                placeholder="Enter answer"
              />
              <button
                type="button"
                class="ml-2 text-red-500 hover:text-red-700"
                (click)="removeVariant(i)"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="rgba(249,6,6,1)"><path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z"></path></svg>
              </button>
            </div>
            <div *ngIf="variant.get('variant')?.invalid && variant.get('variant')?.touched" class="text-red-500 text-sm mt-1">
              Answer {{ variant.get('letter')?.value }} is required.
            </div>
          </div>
        </div>
      </div>

      <button
        type="button"
        class="bg-blue-500 text-white hover:bg-blue-600 font-medium px-4 py-2 rounded-lg"
        (click)="addVariant()"
      >
        Add variant
      </button>

      <div class="flex justify-end space-x-4 mt-4">
        <button
          type="button"
          class="bg-gray-200 text-gray-800 hover:bg-gray-300 font-medium px-4 py-2 rounded-lg"
          (click)="onCloseModal()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="bg-blue-500 text-white hover:bg-blue-600 font-medium px-4 py-2 rounded-lg"
          [disabled]="quizForm.invalid"
        >
          {{ updateModeData ? 'Update' : 'Create' }}
        </button>
      </div>
    </form>
  </div>
</div>
