<div class="bg-blue-500 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <p class="text-white text-xl font-semibold">Quiz Web</p>
    <div class="space-x-4">
      <a routerLink="/quiz" routerLinkActive="text-gray-300 underline font-semibold" class="text-white text-lg">Quiz</a>
      <a routerLink="/category" routerLinkActive="text-gray-300 underline font-semibold" class="text-white text-lg">Category</a>
      <a routerLink="/student" routerLinkActive="text-gray-300 underline font-semibold" class="text-white text-lg">Student</a>
    </div>
  </div>
</div>
